body{
    background-image:url("https://p1-tt.byteimg.com/origin/pgc-image/32baad7382074c9f8d6182d11fc181a5.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    

}
.shin{
    margin-top:550px;
}